body {
	box-sizing: border-box;
	margin: 0;
	background-color: #f7f7f7;
	background-image: url('../images/black_paint_splash.png');
	background-repeat: no-repeat;
	background-position: -200px 0px;
	background-size: 90%
}
